*{
    padding: 0 auto;
    margin: 0 auto;
}
body{
    background-color: black;
    margin-top: 0;
}
.corpo{
    width: 70%;
    height: 100%;
    background-color: rgb(204, 204, 204);
    position: absolute;
    margin-left: 15%;
}
.letra_perfil{
    text-align: center;
    text-decoration: underline;
}
.tittle_perfil{
    text-align: center;
}
.detalhes{
    background-color: rgb(204, 204, 204);
    border: none;
    outline: none;
}
.atributos{
    background-color: rgb(204, 204, 204);
    border: none;
    outline: none;
    width: 60px;
    font-size: 25px;
}
.bordinha{
    width: 30%;
    height: 180px;
    border-radius: 15px;
    margin-left: 120px;
}
.bordinha2{
    width: 30%;
    height: 300px;
    border-radius: 15px;
    margin-left: 120px;
}
img{
    height: 230px;
    border: black solid 2px;
    border-radius: 15px;
}
.inline{
    display: flex;
}
.foto{
    margin-left: 30px;
}
/*cadastro*/
.cadastro{
    width: 70%;
    height: 100%;
    background-color: rgb(204, 204, 204);
}
.caContainer{
    width: 25%;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px 15px;
    margin-top: 20px;
}
.caContainer h1{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caContainer p {
    text-align: center;
}
.txt{
    background: none;
    border: none;
    outline: none;
    color: black;
    border-bottom: 2px solid black;
}
.spanErro{
    color: red;
}
form{
    text-align: center;
}